@inherits LayoutComponentBase
@namespace Client.Layout

<div class="main-layout">
    <header>
        <h1>Mi Aplicación</h1>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>